*~
*.pyc
libvoikko/java/target
libvoikko/test-driver
libvoikko/cs/libvoikko.tests/bin
libvoikko/cs/libvoikko.tests/test-results
libvoikko/cs/libvoikko/bin
libvoikko/cs/test-results
voikko-fi/build-v5

