#input {
  width: 100%;
  max-width: 50em;
}

#progress {
  width: 100%;
  max-width: 50em;
  height: 1em;
  font-size: 0.8em;
}

div.updating {
  background-color: #DDAAAA;
}

#result {
  color: #000000;
  background-color: #EEEEEE;
  line-height: 1.6em;
  border: 1px solid black;
  min-height: 2em;
  font-family: monospace;
  width: 100%;
  max-width: 50em;
}
span.error {
  color: red;
}
span.gErrorOuter {
  padding-bottom: 0.3em;
  background-color: #FFBBBB;
}
span.gErrorInner {
  background-color: white;
}
.word {
  color: black;
  background-color: white;
  -moz-border-radius: 0.2em;
}
span.word:hover, span.gErrorHandle:hover {
  background-color: #CCCCEE;
  cursor: help;
}
