#input {
  width: 100%;
  max-width: 50em;
}

#save {
  margin-left: 20px;
}

#progress {
  width: 100%;
  max-width: 50em;
  height: 1em;
  font-size: 0.8em;
}

div.updating {
  background-color: #DDAAAA;
}

#result {
  color: #000000;
  background-color: #EEEEEE;
  line-height: 1.6em;
  border: 1px solid black;
  min-height: 2em;
  width: 100%;
  max-width: 50em;
}
span.error {
  color: red;
}
span.maybeError {
  background-color: #8888ff;
}
span.gErrorOuter {
  padding-bottom: 0.3em;
  background-color: #FFBBBB;
}
span.gErrorInner {
  background-color: white;
}
span.gErrorHandle {
  width: 2em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.word {
  color: black;
  background-color: white;
  border-radius: 0.2em;
}
span.word:hover, span.gErrorHandle:hover {
  background-color: #CCCCEE;
  cursor: help;
}

p.webvoikkoH, p.webvoikkoLi, p.webvoikkoP {
  margin-left: 1em;
  padding-left: 1em;
}

p.webvoikkoH {
  font-size: 110%;
  font-weight: bold;
}

p.webvoikkoLi {
  display: list-item;
  list-style-position: inside;
}

p.webvoikkoP {
  border-left: 4px solid #559922;
}

p.webvoikkoO {
  border-left: 4px solid #DD0000;
}
